@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.eot');
    src: url('fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('fonts/robotocondensed-regular-webfont.woff') format('woff'), url('fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/robotocondensed-bold-webfont.eot');
    src: url('fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('fonts/robotocondensed-bold-webfont.woff') format('woff'), url('fonts/robotocondensed-bold-webfont.ttf') format('truetype'), url('fonts/robotocondensed-bold-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'roboto_condensedregular', sans-serif;
}

textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.smallText {
    font-size: .75em;
}

header {
    position: relative;
    background-color: rgb(83, 83, 112);
    overflow: hidden;
    padding: 5px;
    z-index: 100;
    -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-family: roboto_condensedbold;
}

header a {
    position: relative;
    display: inline-block;    
    margin-right: 20px;    
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: rgba(255,255,255,.5);
}

header a::after {
    content: ' ';
}

header a.aktiv {
    color: #fff !important;
    text-shadow: 0 0 5px #fff;
}

header a:hover {
    color: #fff !important;
}

header a.aktiv:hover {
    color: #fff !important;
}


header input.navLinks.aktiv {
    background-color: #ff0;
}

main .part {
    position: relative;
    padding: 5px;
    margin: 5px;
}

main .partHeader {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    /*
    background: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    */
    color: #555;
    font-weight: normal;
    font-family: roboto_condensedbold;
}

main .fragenContainer {
    position: relative;
    background: #dee;
    border-radius: 3px;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    padding-left: 70px;
    min-height: 60px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
}

main .fragenContainer .index {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 30px;
    /*
    height: 25px;
    border-radius: 0 0 50% 50%;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-top:none;
    */
    border-left: 1px solid hsla(0, 0%, 0%, 0.2);
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5)
}

main .fragenContainer h3,
main .fragenContainer h4 {
    color: hsla(0, 0%, 0%, 0.2);
    cursor: pointer;
}

main .fragenContainer h3:hover,
main .fragenContainer h4:hover {
    color: hsla(0, 0%, 0%, 0.5);
}

main .fragenContainer textarea {
    width: 90%;
    height: 70px;
}

main .fragenContainer .index.skill0 {
    background: rgba(0, 0, 0, .1);
}

main .fragenContainer .index.skill1 {
    background: rgb(224, 216, 100);
}

main .fragenContainer .index.skill2 {
    background: rgb(243, 133, 82);
}

.antwort {
    position: relative;
    display: block;
    color: hsla(0, 0%, 0%, 0.7);
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.fragenContainerBE .taFrage textarea {
    border-color: rgba(103, 167, 61, 0.5);
    background: rgb(222, 235, 213);
    padding: 5px;
}

.addPart {
    position: absolute;
    right: 40px;
    top: 10px;
    width: 25px;
    height: 25px;
    padding-top: 0px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.addPart.removePart {
    right: 10px;
}

.addPart.inline {
    position: relative;
    display: inline;
    right: auto;
    top: auto;
    border-radius: 0;
}

.addPart:hover {
    background-color: #000;
    border: 2px solid #ff0;
    color: #ff0;
}

.fragenContainerBE .antwort textarea {
    border-color: rgba(161, 156, 87, .5);
    background: rgb(235, 234, 218);
    padding: 5px;
}

.fragenContainerBE .antworten {
    position: relative;
    border-top: 2px solid hsla(0, 0%, 0%, 0.2);
    margin-top: 10px;
    padding-top: 10px;
}

.fragenContainerFE .antworten {
    display: none;
}

.fragenContainerFE .antworten.open {
    display: block;
}

.antwort_fe {
    position: relative;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 0%, .3);
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    white-space: break-spaces;
    min-height: 15px;
}

.copyToClipboard {
    position: absolute;
    padding: 5px;
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.copyToClipboard:hover {
    background-color: #fff;
    color: #555;
    border: 1px solid #555;
}

ui {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

ui #btnSpeichern {
    font-size: 20px;
    padding: 15px;
    background: #ff0;
    color: #000;
    border: 2px solid #000;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ui #btnSpeichern:hover {
    background: #000;
    color: #ff0;
    border: 2px solid #ff0;
    -webkit-box-shadow: 10px 0 20px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0 20px 2px rgba(0, 0, 0, 0.2);
}